<!DOCTYPE html>
<html lang="en">

<head>
 {{>links}}
</head>

<body>
  {{>navbar}}
    <!-- Main Haeader -->

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- right side -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure class="figure">
                        <img src="images/main.webp" alt="mayank" class="img-fluid" title="mayank">
                        </figure>
                    </div>
                    <!-- right side -->
                    <div class="col-md-6 col-12 main_header_left align-items-center">
                        <p>Welcome to the weather app</p>
                        <h1>I Am A <span>Web Developer </span></h1>
                        <!-- <a href="/weather"><button>Check Temperature</button></a> -->
                    </div>
                  
                </div>
            </div>
        </div>
    </div>
<!-- footer -->
{{>footer}}
</body>

</html>